<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="COABOS_INPUT_DIRECTORY" value="C:\BI_TEST\COABOS" />
    <add key="COABOS_FILE_EXTENSION" value="*.xlsx" />
    <add key="COABOS_BACKUP_DIRECTORY" value="C:\BI_TEST\COABOS\Backup" />
    <add key="COABOS_BACKUP_INCORECTFORMAT_DIRECTORY" value="C:\BI_TEST\COABOS\Fail" />

    <add key="OPMS_INPUT_DIRECTORY" value="C:\BI_TEST\OPMS_KPI" />
    <add key="OPMS_FILE_EXTENSION" value="*.xlsx" />
    <add key="OPMS_BACKUP_DIRECTORY" value="C:\BI_TEST\OPMS_KPI\Backup" />
    <add key="OPMS_BACKUP_INCORECTFORMAT_DIRECTORY" value="C:\BI_TEST\OPMS_KPI\Fail" />

    <add key="VOLUME_INPUT_DIRECTORY" value="C:\BI_TEST\VOLUME" />
    <add key="VOLUME_FILE_EXTENSION" value="*.xlsx" />
    <add key="VOLUME_BACKUP_DIRECTORY" value="C:\BI_TEST\VOLUME\Backup" />
    <add key="VOLUME_BACKUP_INCORECTFORMAT_DIRECTORY" value="C:\BI_TEST\VOLUME\Fail" />

    <add key="DENSITY_INPUT_DIRECTORY" value="C:\BI_TEST\DENSITY" />
    <add key="DENSITY_FILE_EXTENSION" value="*.xlsx" />
    <add key="DENSITY_BACKUP_DIRECTORY" value="C:\BI_TEST\DENSITY\Backup" />
    <add key="DENSITY_BACKUP_INCORECTFORMAT_DIRECTORY" value="C:\BI_TEST\DENSITY\Fail" />
    
    <add key="MQ_HOST" value="mykulwspc000192.kul-dc.dhl.com" />
    <add key="MQ_PORT" value="15672" />
    <add key="MQ_USERNAME" value="rabccdqueue" />
    <add key="MQ_PASSWORD" value="DhlccdQueue@rabbit123" />
    <add key="MQ_CHANNEL_NAME" value="CCD_BKK_DATASOURCE01" />
  </appSettings>
  <connectionStrings>
    <!-- <add name="CCDDataSource" connectionString="Server=THBKKWNB1010209;Initial Catalog=BKKCCDLeadTime;Integrated Security=SSPI;User ID='ccdreport';Password='DHLReport@db123'" providerName="System.Data.SqlClient" /> -->
     <add name="CCDDataSource" connectionString="Server=mykulwspc000192;Initial Catalog=BKKCCDLeadTime;Integrated Security=SSPI;User ID='admin-andechbo';Password='-hk;zyfd6h''159!#%'" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
