<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="INPUT_DIRECTORY" value="C:\COABOS"/>
    <add key="FILE_EXTENSION" value="*.xlsx"/>
    <add key="BACKUP_DIRECTORY" value="C:\COABOS\Backup"/>
    <add key="BACKUP_INCORECTFORMAT_DIRECTORY" value="C:\COABOS\Fail"/>
  </appSettings>
  <connectionStrings>
    <add name="CCDDataSource" connectionString="Server=THBKKWNB1010209;Initial Catalog=BKKCCDLeadTime;Integrated Security=SSPI;User ID='ccdreport';Password='DHLReport@db123'" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
