<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="COABOS_INPUT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\COABOS" />
    <add key="COABOS_FILE_EXTENSION" value="*.xlsx" />
    <add key="COABOS_BACKUP_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\COABOS\Backup" />
    <add key="COABOS_BACKUP_INCORECTFORMAT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\COABOS\Fail" />

    <add key="OPMS_INPUT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\OPMS_KPI" />
    <add key="OPMS_FILE_EXTENSION" value="*.xlsx" />
    <add key="OPMS_BACKUP_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\OPMS_KPI\Backup" />
    <add key="OPMS_BACKUP_INCORECTFORMAT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\OPMS_KPI\Fail" />

    <add key="VOLUME_INPUT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\VOLUME" />
    <add key="VOLUME_FILE_EXTENSION" value="*.xlsx" />
    <add key="VOLUME_BACKUP_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\VOLUME\Backup" />
    <add key="VOLUME_BACKUP_INCORECTFORMAT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\VOLUME\Fail" />

    <add key="DENSITY_INPUT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\DENSITY" />
    <add key="DENSITY_FILE_EXTENSION" value="*.xlsx" />
    <add key="DENSITY_BACKUP_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\DENSITY\Backup" />
    <add key="DENSITY_BACKUP_INCORECTFORMAT_DIRECTORY" value="D:\BKKHUB_Performance_Data_Source\DENSITY\Fail" />
    
    <add key="MQ_HOST" value="mykulwspc000192" />
    <add key="MQ_PORT" value="15672" />
    <add key="MQ_USERNAME" value="rabccdqueue" />
    <add key="MQ_PASSWORD" value="DhlccdQueue@rabbit123" />
    <add key="MQ_CHANNEL_NAME" value="CCD_BKK_DATASOURCE01" />
  </appSettings>
  <connectionStrings>
     <!-- <add name="CCDDataSource" connectionString="Server=THBKKWNB1010209;Initial Catalog=BKKCCDLeadTime;Integrated Security=SSPI;User ID='ccdreport';Password='DHLReport@db123'" providerName="System.Data.SqlClient" /> -->
    <add name="CCDDataSource" connectionString="data source=.;initial catalog=BKKCCDLeadTime;Integrated Security=SSPI;Connection Lifetime=0;TransparentNetworkIPResolution=False;Min Pool Size=500;Max Pool Size=1000;Pooling=true;MultipleActiveResultSets=True;App=CCDDataSourceService;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
